:root{
    --gradient: linear-gradient(
        45deg,
        hsl(110deg 18% 93%) 0%,
        hsl(96deg 19% 93%) 17%,
        hsl(84deg 21% 92%) 25%,
        hsl(73deg 22% 92%) 31%,
        hsl(63deg 23% 91%) 37%,
        hsl(53deg 27% 91%) 42%,
        hsl(46deg 32% 91%) 47%,
        hsl(40deg 37% 91%) 53%,
        hsl(35deg 43% 91%) 58%,
        hsl(31deg 48% 91%) 63%,
        hsl(27deg 54% 91%) 69%,
        hsl(24deg 59% 91%) 75%,
        hsl(20deg 63% 91%) 83%,
        hsl(17deg 67% 92%) 100%
      );
      --primary: #DA5E3B;
      --complimentary: #ECF1EB;
      --black: #1B1B1B;
      --black75: #14050A;
      --black50: #C3BCBD;
      --black25: #CAC6C6;
      --black10: #E6E2E2;
      --black5: #F1EDED;
      --error: #FD4D4B;
    font-size: 21px;
    --h1: 119px;
    --h2: 84px;
    --h3: 60px;
    --h4: 42px;
    --h5: 30px;
    --h7: 11px;
    font-family: 'Lora', serif;
    font-family: 'Source Sans Pro', sans-serif;
}
@import url('https://fonts.googleapis.com/css2?family=Lora&family=Source+Sans+Pro&display=swap');

body {
    background-image: var(--gradient);
  }
  
  .parent {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  
  .body{
    display: flex;
    flex-grow: 1;
    flex-flow: row wrap;
  }
  
  .parent > div {
    font-family: 'Lora';
    font-size: 1rem;
    color: var(--black);
    text-align: center;
    background-image: var(--gradient);
    border-bottom: 1px solid var(--black25);
  }
  
  .header{
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    margin: 1rem 1rem 4px 1rem;
  }
  
  .head{
    display:flex;
    flex-flow: row wrap;
  }
  
  .item{
    margin-bottom: var(--h7);
    padding: 0 1rem 0 1rem;
    cursor: pointer;
    text-decoration: none;
    color: inherit;
  }
  .item:hover{
    color: var(--error);
  }
  .image-parent{
    flex: 2;
    padding: 20px;
    gap: 10px;
    display: flex;
    align-items:flex-end;
  }
  .picture{
    flex: 1;
    background: url(./images/marble_vase.png);
    background-position: center; 
    background-repeat: no-repeat;
    height: 70%;
    margin-bottom: 18px;
    margin-left: 1rem;
  }
  
  .picture2{
    flex: 2;
    background: url(./images/marble_vase2.png); 
    background-position: center; 
    background-repeat: no-repeat;
    height: 95%;
  }
  .text-parent{
    flex:4;
    display: flex;
    flex-direction: column;
    align-items: start;
    text-align: left;
    margin: 7rem 0 0 2rem;
  }

.text{
    font-size: var(--h2);
    font-weight: 400;
    margin-left: 0;
}
span{
    color: var(--primary);
    margin-left: 40px;
}
.text-rights{
  font-family: 'Source Sans Pro';
  font-weight: 400;
  font-size: var(--h7);
}

.text-quote{
  padding: 10px 0 10px 0;
  border-bottom: 2px solid black;
  border-top: 2px solid black;
}

.text-button {
  padding: 1.7rem;
  align-self: center;
}

button{
  width: 180px;
  background: none;
  height: 60px;
  border-radius: 50%;
  border: 2px solid var(--primary);
  transform: rotate(-10deg);

}
button:hover{
  background-color: var(--black25);
}

/* .non-active {
  display: none;
}
 */
.active{
  display:flex;
}

/* occasions page CSS */
.bdBody{
  flex: 1;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);
  
}
/* .bdBody > * {
  outline: 1px solid black;
} */
.bdPicture{
  background: url(./images/weddings.png); 
  background-repeat: no-repeat;
  grid-area: 3 / 1 / 3 / 1;
  margin-left: 50px;
  transition: grid-row 3s ease;
}

.bdPicture2{
  background: url(./images/anniversary.png); 
  background-repeat: no-repeat;
  grid-area: 3 / 2 / 3 / 2;
}

.bdPicture3{
  background: url(./images/funerals.png); 
  background-repeat: no-repeat;
  grid-area: 3 / 3 / 3 / 3;
  margin-right: 50px;
}
.bd-text-parent{
  grid-column: 1/4;
  color: var(--primary);
}
.occasion-title{
  font-size: var(--h3);
}
.bdPicture:hover{
  grid-row: 2 / 4;
}
.bdPicture2:hover{
  grid-row: 2 / 4;
}
.bdPicture3:hover{
  grid-row: 2 / 4;
}

/* plants page CSS */
.plantBody {
  width: 100%;
  margin: 10vw auto;
}
img {
  object-fit:cover;
  max-width: 100%;
  height: 100%;
  vertical-align: middle;
  filter: grayscale(1);
  
}
ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}
li {
  position: relative;
  border: 6px solid black;
  flex-basis: 150px;
  transition: .3s;
}
figcaption{
  opacity: 0;
  position: absolute;
  top: 0px;
  color: var(--black25);
}
img:hover{
  filter: grayscale(0);
  
}
li:hover{
  transform: scale(1.1);
}
